*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1200px;
    padding: 20px 0;
}

.local{
    width: 192px;
    height: 36px;
}

.like{
    display: flex;
    gap: 30px;
}

.nav-links{
    display: flex;
    gap: 50px;
}

.local-face{
    display: flex;
    align-items: center;
    gap: 180px;
}

.local-face a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.search{
    width: 32px;
    height: 32px;
}

.eloxirr{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 45px;
}

.ususus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 130px;
    text-align: center;
}

.ususus h2{
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.ususus p{
    font-size: 20px;
    color: #FFFFFF;
    width: 770px;
}

.personal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
}

.person-left{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

.person-left h2{
    font-size: 55px;
    color: #AB572D;
}

.person-left h3{
    font-size: 32px;
    color: white;
    width: 290px;
}

.person-left p{
    font-size: 20px;
    color: white;
    width: 420px;
}

.person-right img{
    width: 698px;
    height: 500px;
}

.customing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
}

.custom-left{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

.custom-left h2{
    font-size: 55px;
    color: #AB572D;
}

.custom-left h3{
    font-size: 32px;
    color: white;
}

.custom-left p{
    font-size: 20px;
    color: white;
    width: 420px;
}

.custom-right img{
    width: 698px;
    height: 500px;
}

.gifting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
}

.gif-left{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

.gif-left h2{
    font-size: 55px;
    color: #AB572D;
}

.gif-left h3{
    font-size: 32px;
    color: white;
}

.gif-left p{
    font-size: 20px;
    color: white;
    width: 420px;
}

.gif-right img{
    width: 698px;
    height: 500px;
}

.probkali{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
}

.probka-left{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

.probka-left h2{
    font-size: 55px;
    color: #AB572D;
}

.probka-left h3{
    font-size: 32px;
    color: white;
    width: 310px;
}

.probka-left p{
    font-size: 20px;
    color: white;
    width: 420px;
}

.probka-right img{
    width: 698px;
    height: 500px;
}

.local{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 120px;
}

.local p{
    font-size: 20px;
    color: white;
    width: 1200px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.face-end{
    margin-top: 220px;
    margin-bottom: 30px;
    color: white;
    display: flex;
}

.fragm{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fragm img{
    width: 375px;
    height: 375px;
    margin-bottom: 25px;
}

.fragm h3{
    width: 364px;
    font-size: 20px;
}

.fragm p{
    width: 371px;
    font-size: 16px;
    margin-bottom: 25px;
}

.fragm a{
    width: 141px;
    height: 36px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
}

.localll{
    font-size: 36px;
    color: #AB572D;
}

.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.submit h2{
    font-size: 24px;
    color: white;
}

.submit p{
    font-size: 16px;
    color: white;
    width: 280px;
}

.submittt{
    display: flex;
}

.submittt input{
    width: 210px;
    height: 36px;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    background: rgb(102, 93, 93);
    color: white;
}

.submittt button{
    width: 100px;
    height: 36px;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    background: #AB572D;
    color: white;
    margin-left: 20px;
}

.internet img{
    width: 32px;
    height: 32px;
}

.righttt{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    padding: 0 50px;
}

.Categories{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Shopping{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Customer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Pages{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width:1200px){

    .container{
        padding: 0 20px;
    }

    .ususus p{
        width: 100%;
    }

    .person-left p,
    .custom-left p,
    .gif-left p,
    .probka-left p{
        width: 100%;
    }

    .local p{
        width: 100%;
    }

    .person-right img,
    .custom-right img,
    .gif-right img,
    .probka-right img{
        width: 100%;
        height: auto;
    }

}

@media (max-width:992px){

    .local-face{
        gap: 40px;
        justify-content: space-between;
    }

    .personal,
    .customing,
    .gifting,
    .probkali{
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .person-left,
    .custom-left,
    .gif-left,
    .probka-left{
        height: auto;
        align-items: center;
        gap: 20px;
    }

    .person-left h3,
    .probka-left h3{
        width: 100%;
    }

    .face-end{
        flex-direction: column;
        gap: 60px;
    }

    .righttt{
        flex-wrap: wrap;
        gap: 50px;
        padding: 0;
    }

}

@media (max-width:768px){

    .nav-links{
        display: none;
    }

    .like{
        gap: 15px;
    }

    .search{
        width: 24px;
        height: 24px;
    }

    .ususus{
        margin-top: 80px;
    }

    .ususus h2{
        font-size: 32px;
    }

    .ususus p{
        font-size: 16px;
    }

    .person-left h2,
    .custom-left h2,
    .gif-left h2,
    .probka-left h2{
        font-size: 40px;
    }

    .person-left h3,
    .custom-left h3,
    .gif-left h3,
    .probka-left h3{
        font-size: 24px;
    }

    .person-left p,
    .custom-left p,
    .gif-left p,
    .probka-left p{
        font-size: 16px;
    }

    .local p{
        font-size: 16px;
    }

}

@media (max-width:480px){

    .local{
        width: 140px;
        height: auto;
    }

    .eloxirr{
        font-size: 14px;
    }

    .person-left h2,
    .custom-left h2,
    .gif-left h2,
    .probka-left h2{
        font-size: 30px;
    }

    .person-left h3,
    .custom-left h3,
    .gif-left h3,
    .probka-left h3{
        font-size: 20px;
    }

    .submittt{
        flex-direction: column;
        gap: 15px;
    }

    .submittt input,
    .submittt button{
        width: 100%;
        margin-left: 0;
    }

    .righttt{
        flex-direction: column;
        gap: 30px;
    }

}

@media (max-width:320px){

    .ususus h2{
        font-size: 24px;
    }

    .localll{
        font-size: 28px;
    }

}