*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1200px;
    padding: 20px 0;
}

.local{
    width: 192px;
    height: 36px;
}

.like{
    display: flex;
    gap: 30px;
}

.nav-links{
    display: flex;
    gap: 50px;
}

.local-face{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.local-face a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.search{
    width: 32px;
    height: 32px;
}

.head-messeg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.messeg-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.messeg-left h1{
    width: 752px;
    font-size: 60px;
    color: white;
}

.messeg-left p{
    font-size: 24px;
    color: #FFFFFF;
    width: 530px;
}

.messeg-left a{
    width: 140px;
    border: 1px solid #AB572D;
    color: white;
    background: #AB572D;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
    
}

.messeg-right img{
    width: 430px;
    height: 600px;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 130px;
    text-align: center;
}

.welcome h2{
    font-size: 40px;
    color: #FFFFFF;
    color: #AB572D;
    margin-bottom: 30px;
}

.welcome p{
    font-size: 20px;
    color: #FFFFFF;
    width: 746px;
}

.head-limon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

.limon-left img{
    width: 670px;
    height: 573px;
}

.limon-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
    text-align: center;
}

.limon-right h2{
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.narh-gr{
    display: flex;
    gap: 20px;
    padding: 0 50px;
}

.head-atirlar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-product{
    margin-top: 150px;
    color: white;
}

.head-product h2{
    font-size: 50px;
    color: #AB572D;
    margin-bottom: 55px;
    text-align: center;
}

.narxi{
    font-size: 16px;
    color: #AB572D;
}

.atir{
    width: 260px;
    height: 442px;
    background: #1d1d1d;
    border-radius: 15px;
    text-align: center;
}

.narh-gr{
    display: flex;
    gap: 20px;
}


.atir img{
    width: 250px;
    height: 359px;
}

.atir h3{
    margin-top: 15px;
    margin-bottom: 20px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.collect h2{
    font-size: 50px;
    color: #AB572D;
    margin-bottom: 50px;
    text-align: center;
}

.tortta-atrlar{
    display: flex;
    gap: 50px;
}

.shishali{
    width: 460px;
    height: 460px;
}

.block{
    width: 730px;
    height: 460px;
}

.ocean{
    width: 557px;
    height: 480px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sensation{
    width: 632px;
    height: 480px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.aka-uka{
    width: 320px;
    height: 480px;
}

.edition{
    width: 436px;
    height: 480px;
}

.classic{
    width: 392px;
    height: 480px;
}

.change{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.change-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.change-left h2{
    font-size: 50px;
    width: 580px;
    height: 136px;
}

.change-left p{
    font-size: 20px;
    width: 520px;
}

.change-left a{
    width: 140px;
    border: 1px solid #AB572D;
    color: white;
    background: #AB572D;
    text-decoration: none;
    border-radius: 15px;
    padding: 13px 10px;
    text-align: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.latest h2{
    font-size: 50px;
    color: #AB572D;
    margin-bottom: 50px;
    text-align: center;
}

.read-more{
    display: flex;
    gap: 30px;
}

.face-end{
    margin-top: 120px;
    margin-bottom: 30px;
    color: white;
    display: flex;
}

.fragm{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fragm img{
    width: 375px;
    height: 375px;
    margin-bottom: 25px;
}

.fragm h3{
    width: 364px;
    font-size: 20px;
}

.fragm p{
    width: 371px;
    font-size: 16px;
    margin-bottom: 25px;
}

.fragm a{
    width: 141px;
    height: 36px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
}

.localll{
    font-size: 36px;
    color: #AB572D;
}

.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.submit h2{
    font-size: 24px;
    color: white;
}

.submit p{
    font-size: 16px;
    color: white;
    width: 280px;
}

.submittt{
    display: flex;
}

.submittt input{
    width: 210px;
    height: 36px;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    background: rgb(102, 93, 93);
    color: white;
}

.submittt button{
    width: 100px;
    height: 36px;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    background: #AB572D;
    color: white;
    margin-left: 20px;
}

.internet img{
    width: 32px;
    height: 32px;
}

.righttt{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    padding: 0 50px;
}

.Categories{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Shopping{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Customer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Pages{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width:1200px){

    .container{
        padding: 20px;
    }

    .messeg-left h1{
        font-size: 48px;
        width: 100%;
    }

    .messeg-left p{
        width: 100%;
    }

    .welcome p{
        width: 100%;
    }

    .limon-left img{
        width: 100%;
        height: auto;
    }

    .messeg-right img{
        width: 100%;
        height: auto;
    }

    .shishali,
    .block,
    .ocean,
    .sensation,
    .aka-uka,
    .edition,
    .classic{
        width: 100%;
        height: auto;
    }

    .change-left h2,
    .change-left p{
        width: 100%;
    }
}

@media (max-width:992px){

    .head-messeg{
        flex-direction: column;
        text-align: center;
    }

    .head-limon{
        flex-direction: column;
        text-align: center;
    }

    .head-atirlar{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .tortta-atrlar{
        flex-direction: column;
        align-items: center;
    }

    .change{
        flex-direction: column;
        text-align: center;
    }

    .read-more{
        flex-direction: column;
        align-items: center;
    }

    .face-end{
        flex-direction: column;
        gap: 50px;
    }

    .righttt{
        flex-wrap: wrap;
        gap: 40px;
        padding: 0;
    }
}

@media (max-width:768px){

    .nav-links{
        display: none;
    }

    .messeg-left h1{
        font-size: 36px;
    }

    .welcome h2,
    .head-product h2,
    .collect h2,
    .latest h2{
        font-size: 36px;
    }

    .limon-right h2{
        font-size: 36px;
    }

    .change-left h2{
        font-size: 36px;
    }

    .atir{
        width: 100%;
        max-width: 320px;
    }

    .fragm img{
        width: 100%;
        height: auto;
    }

    .fragm h3,
    .fragm p{
        width: 100%;
    }
}

@media (max-width:480px){

    .messeg-left h1{
        font-size: 28px;
    }

    .messeg-left p{
        font-size: 18px;
    }

    .welcome p{
        font-size: 16px;
    }

    .change-left p{
        font-size: 16px;
    }

    .like{
        gap: 15px;
    }

    .search{
        width: 24px;
        height: 24px;
    }

    .submittt{
        flex-direction: column;
        gap: 15px;
    }

    .submittt button{
        margin-left: 0;
        width: 100%;
    }

    .submittt input{
        width: 100%;
    }
}

@media (max-width:320px){

    .messeg-left h1{
        font-size: 22px;
    }

    .messeg-left a,
    .change-left a{
        width: 100%;
    }

    .atir{
        padding: 10px;
    }

    .narh-gr{
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }

    .righttt{
        flex-direction: column;
        gap: 25px;
    }
}